* {
    box-sizing: border-box;
}
/*  box-sizing  */

body {
    font-family: 'Castoro', serif;
    line-height: 1.5;
    font-size: 24px;
}

p {
    font-family: 'Castoro';
}

.container {
    max-width: 1296px; /* 使用 max-width 可以自適應瀏覽器畫面寬度*/
    margin: 0 auto;
}

img {
    max-width: 636px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: left;
    font-family: 'Castoro';
    font-size: 128px;
    font-weight: 400;
    line-height: 192px;
    letter-spacing: 0.12em;
}
h2 {
    font-family: 'Castoro';
    font-size: 128px;
    font-weight: 400;
    line-height: 192px;
    letter-spacing: 0.12em;
    text-align: right;
    padding-right: 150px;
}

.intro {
    background: #efefef;
    padding: 50px 0 50px 0;
}
.intro_txt {
    width: 636px;
    height: 432px;
    margin-left: auto;
}
.intro p {
    font-family: 'Castoro';
    font-size: 32px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0em;
    text-align: left;
}

.info_box {
    width: 636px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.info_box h3 {
    font-family: 'Castoro';
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #ae0000;
}
.info {
    border-bottom: #ae0000 3px solid;
    margin-top: 50px;
}
.info_p {
    margin-top: 20px;
}

.span {
    font-size: 20px;
    color: #949494;
}

.footer {
    margin-top: 100px;
    display: flex;
    background: #000;
}

.footer a {
    margin-top: 50px;
    padding: 25px 10px 25px 10px;
    display: inline-block;
}
.footer img {
    width: 64px;
    height: 64px;
}
