<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WoodMin 悟旻設計</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <h3>LOGO設計</h3>
      <div class="row">
          <div class="card" style="width: 22rem">
              <img src="/assets/images/logo16.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                  <h5 class="card-title">休閒業</h5>
                  <a href="logo16.html" class="btn btn-dark">查看詳情</a>
              </div>
          </div>
          <div class="card" style="width: 22rem">
              <img src="/assets/images/logo14.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                  <h5 class="card-title">娛樂業</h5>

                  <a href="cardT.html" class="btn btn-dark">查看詳情</a>
              </div>
          </div>
          <div class="card" style="width: 22rem">
              <img src="/assets/images/logo09.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                  <h5 class="card-title">烘培業</h5>
                  <a href="logo08.html" class="btn btn-dark">查看詳情</a>
              </div>
          </div>
      </div>
      <div class="container">
          <h3>名片設計</h3>
          <div class="row">
              <div class="card" style="width: 22rem">
                  <img src="/assets/images/namecard-01.jpg" class="card-img-top" alt="..." />
                  <div class="card-body">
                      <h5 class="card-title">科技業</h5>
                      <a href="namecard01.html" class="btn btn-dark">查看詳情</a>
                  </div>
              </div>
              <div class="card" style="width: 22rem">
                  <img src="/assets/images/namecard-02.jpg" class="card-img-top" alt="..." />
                  <div class="card-body">
                      <h5 class="card-title">汽車業</h5>
                      <a href="#" class="btn btn-dark">查看詳情</a>
                  </div>
              </div>
              <div class="card" style="width: 22rem">
                  <img src="/assets/images/namecard01.jpg" class="card-img-top" alt="..." />
                  <div class="card-body">
                      <h5 class="card-title">食品業</h5>
                      <a href="#" class="btn btn-dark">查看詳情</a>
                  </div>
              </div>
          </div>
          <div class="container">
              <h3>DM設計</h3>
              <div class="row">
                  <div class="card" style="width: 22rem">
                      <img src="/assets/images/dm01.jpg" class="card-img-top" alt="..." />
                      <div class="card-body">
                          <h5 class="card-title">家具業</h5>
                          <a href="#" class="btn btn-dark">查看詳情</a>
                      </div>
                  </div>
                  <div class="card" style="width: 22rem">
                      <img src="/assets/images/dm02.jpg" class="card-img-top" alt="..." />
                      <div class="card-body">
                          <h5 class="card-title">農產業</h5>
                          <a href="#" class="btn btn-dark">查看詳情</a>
                      </div>
                  </div>
                  <div class="card" style="width: 22rem">
                      <img src="/assets/images/dm03.jpg" class="card-img-top" alt="..." />
                      <div class="card-body">
                          <h5 class="card-title">水產業</h5>
                          <a href="#" class="btn btn-dark">查看詳情</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <%- include('./layout/footer'); -%>

   <script type="module" src="../main.js"></script>
  </body>
</html>
